* {
    font-family: 'Noto Sans', sans-serif;
    color : #262626;
}
.active {
    display: block !important;
}
.rotate {
    rotate: 180deg;
}
main {
    background: url(../img/top-bg.png) center no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    height: 660px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px;
    nav {
        display: flex;
        align-items: center;
        .nav-item {
            display: flex;
            align-items: center;
            align-content: center;
            margin-left: 32px;
            embed {
                margin-right: 12px;
            }
            a {
                font-size: 16px;
                line-height: 22px;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.main {
    margin-top: 50px;
    display: flex;
    position: relative;
    .top-title {
        display: inline-block;
        padding: 2px 14px;
        color: #000;
        background-color: #F7DC06;
        margin-bottom: 18px;
        font-size: 32px;
        line-height: 44px;
    }
    h1 {
        font-family: 'Black Han Sans', sans-serif;
        color: #FF4A51;
        font-size: 104px;
        line-height: 120px;
        -webkit-text-stroke: 5px #fff;
        font-weight: 900;
        width: 550px;
    }
    .sub-title {
        color: #009EFF;
        font-size: 24px;
        display: inline-block;
    }
    
}
.games {
    background-color: #FF4A51;
    margin-top: -100px;
    padding: 96px 0px 46px 0px;
    height: auto;
    &-header {
        display: flex;
        align-items: center;
        embed {
            margin-right: 40px;
        }
        .descr {

            h3 {
                font-family: 'Black Han Sans', sans-serif;
                color: #F6FF6E;
                font-size: 40px;
                line-height: 50px;
            }
            p {
                color: #fff;
                font-size: 20px;
                line-height: 28px;
                margin: 0;
            }
        }
    }
    &-blocks {
        margin-top: 72px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .block {
            width: 384px;
            height: auto;
            background-color: #fff;
            border-radius: 24px;
            margin-bottom: 50px;
            p {
                margin: 0;
            }
            &-img {
                margin-top: -40px;
            }
            &-body {
                padding: 32px;
            }
            .header {
                display: flex;
                .text {
                    margin-left: 32px;
                    h2 {
                        font-family: 'Black Han Sans', sans-serif;
                        font-size: 38px;
                        line-height: 48px;
                        color: #FF4A51;
                        margin: 0;
                    }
                    p {
                        font-size: 25px;
                        line-height: 34px;
                    }
                }
            }
            .rating {
                display: flex;
                justify-content: flex-end;
                position: relative;
                margin-top: 29px;
                align-items: center;
                p {
                    position: absolute;
                    left: 0;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                }
                span {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 400;
                    padding-right: 10px;
                }
            }
            .payments {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                p {
                    color: rgba(63, 63, 63, 0.7);
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 25px;
                }
                .more {
                    width: 40px;
                    height: 24px;
                    background-color: #EAECEF;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
            .line {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                position: relative;
                margin-top: 24px;
                .dot {
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: #502AC8;
                }
                hr {
                    border:2px solid #502AC8;
                    opacity: 100%;
                    width: 98%;
                    position: absolute;
                    left: 2px;
                }
            }
            .content {
                margin: 20px 0px;
                &-row {
                    display: flex;
                    align-items: center;
                    p {
                        margin-left: 12px;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                    }
                }
            }
            .purple-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 25px;
                width: 100%;
                height: 64px;
                border-radius: 12px;
                font-family: 'Black Han Sans', sans-serif;
                color: #F6FF6E;
                font-size: 30px;
                line-height: 37px;
                background-color: #502AC8;
                border: none;
                border-bottom: 5px solid #3C1F98;

            }
        }
    }
}
.play {
    background: url(../img/games/bue-bg.png) center no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 170px;
    
    &-banner {
        margin: 0 auto;
        background: url(../img/games/feautes-bg-clean.png) center no-repeat;
        background-size: cover;
        width: auto;
        height: 220px;
        display: inline-block;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        border: 3px solid #6DCB60;

        .red-text {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-left: 56px;
            p {
                color: #fff;
                font-family: 'Black Han Sans', sans-serif;
                font-size: 32px;
                line-height: 40px;
                -webkit-text-stroke: 2px #FF4A51;
                position: relative;
                z-index: 2;
                margin-bottom: 20px;
            }
            embed {
                position: absolute;
                top: -93px;
            }
        }
        &_block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 264px;
            h3 {
                margin-top: 17px;
                margin-bottom: 8px;
                font-size: 18px;
                line-height: 25px;
                font-weight: 700;
                -webkit-text-stroke: 1px #6DCB60;
            }
            span {
                display: inline-block;
                font-size: 16px;
                line-height: 24px;
                color: #fff;
            }
        }
    }
    &-title {
        margin-top: 74px;
        h1 {
            font-family: 'Black Han Sans', sans-serif;
            color: #F6FF6E;
            font-size: 60px;
            line-height: 75px;
            margin-bottom: 5px;
        }
        p {
            font-size: 20px;
            line-height: 28px;
            color: #fff;
        }
    }
    &-gifts {
        padding: 0px 12px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 134px;
        .gift {
            .arrow {
                display: none;
            }
            background-color: #FFFAD1;
            position: relative;
            width: 352px;
            text-align: left;
            padding: 60px 34px 26px 34px;
            border-radius: 0px 0px 20px 20px;
            margin-bottom: 129px;
            img {
                position: absolute;
                top: -80px;
                left: -16px;
            }
            h3 {
                color: #fff;
                font-size: 22px;
                line-height: 30px;
                font-weight: 700;
                -webkit-text-stroke: 1px #FF4A51;
            }
            ul {
                margin: 0;
                
                li {
                    font-size: 15px;
                    line-height: 24px;
                    font-weight: 400;
                    list-style-image: url(../img/checkbox.svg);
                    &::marker {
                        position: absolute;
                        top: 5px;
                    }
                }
            }
        }
    }
}
footer {
    background-color: #1D1D24;
    .footer {
        &-top {
            margin-top: 110px;
            padding-bottom: 63px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(135, 142, 168, .2);
            .first-block {
                position: relative;
                display: flex;
                width: 48%;
                background: url(../img/footer/footer-offer-bg.png) center no-repeat;
                background-size: cover;
                padding: 20px 23px;
                border-radius: 16px;
                .mob-tls {
                    display: none;
                }
                h1 {
                    font-family: 'Black Han Sans', sans-serif;
                    font-size: 28px;
                    line-height: 40px;
                    width: 345px;
                    color: #fff;
                    -webkit-text-stroke: 2px #FF4A51;
                }
                img {
                    position: absolute;
                    top: -45px;
                    right: 0;
                }
            }
            .second-block {
                width: 48%;
                .inp {
                    height: 56px;
                    width: 296px;
                    margin-bottom: 22px;
                    border-radius: 12px;
                    padding-left: 16px;
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 400;
                    border: none;
                    outline: none;
                    &::placeholder {
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: 400;
                        color: #3F3F3F;
                        opacity: 100%;
                    }
                }
                .red-btn {
                    font-family: 'Black Han Sans', sans-serif;
                    font-size: 22px;
                    line-height: 28px;
                    color: #fff;
                    border-radius: 12px;
                    width: 240px;
                    height: 58px;
                    background-color: #FF4A51;
                    border: none;
                    border-bottom: 4px solid #CF1B22;
                    margin-left: 24px;
                }
                
                .checkbox {    
                    label {
                        color: #fff;
                        font-size: 14px;
                        line-height: 19px;
                        padding-left: 9px;
                    }
                    input[type="checkbox"]::before {
                        display: none;
                      
                        transform-origin: bottom left;
                        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                    }
                }
                p {
                    margin-top: 13px;
                    font-size: 14px;
                    line-height: 19px;
                    color: #fff;
                }
            }
        }
        &-middle {
            padding-top: 56px;
            padding-bottom: 61px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(135, 142, 168, .2);
            margin-bottom: 55px;
            .first-block {
                display: flex;
                align-content: center;
                width: 46%;
                h1 {
                    font-family: 'Black Han Sans', sans-serif;
                    font-size: 34px;
                    line-height: 40px;
                    width: 372px;
                    color: #fff;
                    margin: 0;
                    margin-left: 30px;
                }
            }
            .second-block {
                display: flex;
                width: 52%;
                justify-content: space-between;
                ul {
                    li {
                        a {
                            font-size: 16px;
                            line-height: 24px;
                            color: #fff;
                            text-decoration: none;
                        }
                        margin-bottom: 8px;

                        &::marker {
                            color: #FF4A51;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        &-bottom {
            font-size: 12px;
            line-height: 24px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 45px;
            p {
                color: #878EA8;
                opacity: 0.6;
                width: 60%;
            }
            .companies {
                width: 30%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                p {
                    margin-top: 18px;
                    width: 100%;
                    text-align: right;
                }
            }
        }
    }
}
@media only screen and (min-width: 1441px) {
    .container-fluid {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media only screen and (max-width: 1199px) {


    footer {
        .footer {
            &-top {
                .first-block {
                    h1 {
                        z-index: 1;
                    }
                    img {
                        top: auto;
                        bottom: 0;
                    }
                }
                .second-block {
                    width: 100%;
                    text-align: center;
                    padding: 0 24px;
                    .inp {
                        width: 100%;
                    }
                    .red-btn {
                        width: 100%;
                        margin-left: 0;
                        margin-bottom: 28px;
                    }
                    .checkbox, p {
                        text-align: left;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1199px) {
    .games {
        &-blocks {
            justify-content: space-around;
        }
    }
    .play {
        &-gifts {
            justify-content: space-around;
        }
    }
}
@media only screen and (max-width: 790px) {
    .play {

        &-banner {
            height: auto;
            flex-wrap: wrap;
            .red-text {
                width: 100%;
                margin-left: 0;
                margin-top: 24px;
            }
            .women {
                display: none;
            }

            &_block {
                margin-bottom: 24px;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    main {
        background: url(../img/Mobile/top-bg.png);
        height: 550px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);

        header {
            padding-bottom: 0px;
            nav {
                display: none;
            }
        }
        .main {
            .title {
                font-size: 64px;
                line-height: 75px;
                word-break: break-word;
                width: 100%;
            }
            .sub-title {
                font-size: 15px;
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .games {
        height: auto;
        &-header {
            align-items: flex-start;
            embed {
                width: 36px;
                margin-right: 12px;
            }
            .descr {
                h3 {
                    font-size: 25px;
                }
                p {
                    font-size: 16px;
                    position: absolute;
                    left: 20px;
                    width: 90%;
                }
            }
        }
        &-blocks {
            margin-top: 130px;
            display: flex;
            flex-direction: column;
            .block {
                margin-bottom: 49px;
            }
        }
    }
    .play {
        background-size: cover;
        padding-top: 70px;
        &-banner {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            background: url(../img/Mobile/feautres-bg-clean.png) center no-repeat;
            background-size: cover;
            align-items: center;
            border: 3px solid #6DCB60;
            padding: 43px;
            .women {
                display: none;
            }
            .red-text {
                margin: 0;
            }
            &_block {
                p {
                    margin: 0;
                }
                margin-top: 38px;
            }
        }
        &-title {
            text-align: left;
            h1 {
                font-size: 25px;
                line-height: 25px;
                margin-bottom: 5px;
            }
            p {
                font-size: 16px;
                line-height: 28px;
            }
        }
        &-gifts {
            justify-content: center;
            .gift {
                h3 {
                    display: inline;
                }
                .arrow {
                    display: inline;
                    float: right;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                }
                ul {
                    display: none;
                }
            }
        }
    }
    footer {
        .footer {
            &-top {
                display: flex;
                flex-direction: column;
                background: url(../img/Mobile/subscribe-bg.png) center no-repeat ;
                background-size: cover;
                border-radius: 16px;
                flex-direction: column;
                padding-bottom: 18px;
                .first-block {
                    width: 100%;
                    height: auto;
                    background: none;
                    text-align: center;
                    padding: 18px 24px;
                    display: flex;
                    flex-direction: column;
                    .mob-tls {
                        display: block;
                        position: relative;
                        top: 0;
                    }
                    h1 {
                        font-size: 21px;
                        line-height: 26px;
                        margin-bottom: 18px;
                    }
                    img {
                        display: none;
                    }
                }
                .second-block {
                    width: 100%;
                    text-align: center;
                    padding: 0 24px;
                    .inp {
                        width: 100%;
                    }
                    .red-btn {
                        width: 100%;
                        margin-left: 0;
                        margin-bottom: 28px;
                    }
                    .checkbox, p {
                        text-align: left;
                    }
                }
            }
            &-middle {
                display: flex;
                flex-direction: column;
                padding: 33px 0px;
                margin-bottom: 33px;
                .first-block {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 23px;
                    h1 {
                        font-size: 24px;
                        line-height: 30px;
                        margin-left: 15px;
                    }
                }
                .second-block {
                    width: 100%;
                    ul {
                        margin-bottom: 0;
                    }
                }
            }
            &-bottom {
                display: flex;
                flex-direction: column;
                p {
                    width: 100%;
                    margin: 0;
                }
                .companies {
                    width: 100%;
                    margin-top: 36px;
                    p {
                        margin-top: 31px;
                        text-align: left;
                    }
                }
            }
        }
    }
  }