* {
    font-family: 'Noto Sans', sans-serif;
    color : #262626;
}
main {
    background: url(../img/top-bg.png) center no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    height: 660px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px;
    nav {
        display: flex;
        align-items: center;
        .nav-item {
            display: flex;
            align-items: center;
            align-content: center;
            margin-left: 32px;
            embed {
                margin-right: 12px;
            }
            a {
                font-size: 16px;
                line-height: 22px;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.main {
    margin-top: 50px;
    display: flex;
    position: relative;
    .top-title {
        display: inline-block;
        padding: 2px 14px;
        color: #000;
        background-color: #F7DC06;
        margin-bottom: 18px;
        font-size: 32px;
        line-height: 44px;
    }
    h1 {
        font-family: 'Black Han Sans', sans-serif;
        color: #FF4A51;
        font-size: 104px;
        line-height: 120px;
        -webkit-text-stroke: 5px #fff;
        font-weight: 900;
        width: 550px;
    }
    .sub-title {
        color: #009EFF;
        font-size: 24px;
        display: inline-block;
    }
    
}
.games {
    background-color: #FF4A51;
    margin-top: -100px;
    padding: 96px 0px;
    height: 1300px;
    &-header {
        display: flex;
        align-items: center;
        embed {
            margin-right: 40px;
        }
        .descr {

            h3 {
                font-family: 'Black Han Sans', sans-serif;
                color: #F6FF6E;
                font-size: 40px;
                line-height: 50px;
            }
            p {
                color: #fff;
                font-size: 20px;
                line-height: 28px;
                margin: 0;
            }
        }
    }
    &-blocks {
        margin-top: 72px;
        display: flex;
        justify-content: space-between;
        .block {
            width: 384px;
            height: auto;
            background-color: #fff;
            border-radius: 24px;
            p {
                margin: 0;
            }
            &-img {
                margin-top: -40px;
            }
            &-body {
                padding: 32px;
            }
            .header {
                display: flex;
                .text {
                    margin-left: 32px;
                    h2 {
                        font-family: 'Black Han Sans', sans-serif;
                        font-size: 38px;
                        line-height: 48px;
                        color: #FF4A51;
                        margin: 0;
                    }
                    p {
                        font-size: 25px;
                        line-height: 34px;
                    }
                }
            }
            .rating {
                display: flex;
                justify-content: flex-end;
                position: relative;
                margin-top: 29px;
                align-items: center;
                p {
                    position: absolute;
                    left: 0;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                }
                span {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 400;
                    padding-right: 10px;
                }
            }
            .payments {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                p {
                    color: rgba(63, 63, 63, 0.7);
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 25px;
                }
                .more {
                    width: 40px;
                    height: 24px;
                    background-color: #EAECEF;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
            .line {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                position: relative;
                margin-top: 24px;
                .dot {
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: #502AC8;
                }
                hr {
                    border:2px solid #502AC8;
                    opacity: 100%;
                    width: 98%;
                    position: absolute;
                    left: 2px;
                }
            }
            .content {
                margin: 20px 0px;
                &-row {
                    display: flex;
                    align-items: center;
                    p {
                        margin-left: 12px;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                    }
                }
            }
            .purple-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 25px;
                width: 100%;
                height: 64px;
                border-radius: 12px;
                font-family: 'Black Han Sans', sans-serif;
                color: #F6FF6E;
                font-size: 30px;
                line-height: 37px;
                background-color: #502AC8;
                border: none;
                border-bottom: 5px solid #3C1F98;

            }
        }
    }
}
.play {
    background: url(../img/games/bue-bg.png) center no-repeat;
    text-align: center;
    padding-top: 170px;
    &-banner {
        margin: 0 auto;
        background: url(../img/games/feautes-bg-clean.png) center no-repeat;
        width: 1200px;
        height: 220px;
        display: inline-block;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        .red-text {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-left: 56px;
            p {
                color: #fff;
                font-family: 'Black Han Sans', sans-serif;
                font-size: 32px;
                line-height: 40px;
                -webkit-text-stroke: 2px #FF4A51;
                position: relative;
                z-index: 2;
                margin-bottom: 20px;
            }
            embed {
                position: absolute;
                top: -93px;
            }
        }
        &_block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 264px;
            h3 {
                margin-top: 17px;
                margin-bottom: 8px;
                font-size: 18px;
                line-height: 25px;
                font-weight: 700;
                -webkit-text-stroke: 1px #6DCB60;
            }
            span {
                display: inline-block;
                font-size: 16px;
                line-height: 24px;
                color: #fff;
            }
        }
    }
    &-title {
        margin-top: 74px;
        h1 {
            font-family: 'Black Han Sans', sans-serif;
            color: #F6FF6E;
            font-size: 60px;
            line-height: 75px;
            margin-bottom: 5px;
        }
        p {
            font-size: 20px;
            line-height: 28px;
            color: #fff;
        }
    }
    &-gifts {
        padding: 0px 12px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 134px;
        .gift {
            background-color: #FFFAD1;
            position: relative;
            width: 352px;
            text-align: left;
            padding: 60px 34px 26px 34px;
            border-radius: 0px 0px 20px 20px;
            margin-bottom: 129px;
            img {
                position: absolute;
                top: -80px;
                left: -16px;
            }
            h3 {
                color: #fff;
                font-size: 22px;
                line-height: 30px;
                font-weight: 700;
                -webkit-text-stroke: 1px #FF4A51;
            }
            ul {
                margin: 0;
                li {
                    font-size: 15px;
                    line-height: 24px;
                    font-weight: 400;
                }
            }
        }
    }
}