* {
  font-family: 'Noto Sans', sans-serif;
  color: #262626;
}

main {
  background: url(../img/top-bg.png) center no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  height: 660px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 0px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 32px;
}

header nav .nav-item embed {
  margin-right: 12px;
}

header nav .nav-item a {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
}

.main {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main .top-title {
  display: inline-block;
  padding: 2px 14px;
  color: #000;
  background-color: #F7DC06;
  margin-bottom: 18px;
  font-size: 32px;
  line-height: 44px;
}

.main h1 {
  font-family: 'Black Han Sans', sans-serif;
  color: #FF4A51;
  font-size: 104px;
  line-height: 120px;
  -webkit-text-stroke: 5px #fff;
  font-weight: 900;
  width: 550px;
}

.main .sub-title {
  color: #009EFF;
  font-size: 24px;
  display: inline-block;
}

.games {
  background-color: #FF4A51;
  margin-top: -100px;
  padding: 96px 0px;
}

.games-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.games-header embed {
  margin-right: 40px;
}

.games-header .descr h3 {
  font-family: 'Black Han Sans', sans-serif;
  color: #F6FF6E;
  font-size: 40px;
  line-height: 50px;
}

.games-header .descr p {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

.games-blocks {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.games-blocks .block {
  width: 384px;
  height: auto;
  background-color: #fff;
  border-radius: 24px;
}

.games-blocks .block p {
  margin: 0;
}

.games-blocks .block-img {
  margin-top: -40px;
}

.games-blocks .block-body {
  padding: 32px;
}

.games-blocks .block .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.games-blocks .block .header .text {
  margin-left: 32px;
}

.games-blocks .block .header .text h2 {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 38px;
  line-height: 48px;
  color: #FF4A51;
  margin: 0;
}

.games-blocks .block .header .text p {
  font-size: 25px;
  line-height: 34px;
}

.games-blocks .block .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  margin-top: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.games-blocks .block .rating p {
  position: absolute;
  left: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.games-blocks .block .rating span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 10px;
}

.games-blocks .block .payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.games-blocks .block .payments p {
  color: rgba(63, 63, 63, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.games-blocks .block .payments .more {
  width: 40px;
  height: 24px;
  background-color: #EAECEF;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.games-blocks .block .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 24px;
}

.games-blocks .block .line .dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #502AC8;
}

.games-blocks .block .line hr {
  border: 2px solid #502AC8;
  opacity: 100%;
  width: 98%;
  position: absolute;
  left: 2px;
}

.games-blocks .block .content {
  margin: 20px 0px;
}

.games-blocks .block .content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.games-blocks .block .content-row p {
  margin-left: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.games-blocks .block .purple-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  width: 100%;
  height: 64px;
  border-radius: 12px;
  font-family: 'Black Han Sans', sans-serif;
  color: #F6FF6E;
  font-size: 30px;
  line-height: 37px;
  background-color: #502AC8;
  border: none;
  border-bottom: 5px solid #3C1F98;
}
/*# sourceMappingURL=style.css.map */